*.7z
*.bak
*.bz2
.idea/
.iml
.ipr
.iws
*.jar
*.log
**/*.o
*.rar
*.retry
**/*.rs.bk
**/*.so
*.swo
*.swp
*.tar
.terraform*
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tgz
.vagrant/
*.vdi
*.vmdk
.vscode/
*.zip
